// Copyright 2024 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

@use '../mixins';
@use '../variables';

.Projects__pane {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  user-select: none;
}

.Projects__empty-state {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 72px;
  padding-inline: 32px;
  text-align: center;

  &__icon {
    height: 40px;
    margin-bottom: 16px;
    width: 40px;
    @include mixins.light-theme {
      @include mixins.color-svg(
        '../images/icons/v3/folder/folder.svg',
        variables.$color-gray-60
      );
    }
    @include mixins.dark-theme {
      @include mixins.color-svg(
        '../images/icons/v3/folder/folder.svg',
        variables.$color-gray-25
      );
    }
  }

  &__title {
    @include mixins.font-title-2;
    margin: 0;
    margin-bottom: 4px;
    @include mixins.light-theme {
      color: variables.$color-gray-60;
    }
    @include mixins.dark-theme {
      color: variables.$color-gray-25;
    }
  }

  &__description {
    @include mixins.font-body-1;
    margin: 0;
    @include mixins.light-theme {
      color: variables.$color-gray-60;
    }
    @include mixins.dark-theme {
      color: variables.$color-gray-25;
    }
  }
} 